{% extends "base.html" %}
{% block content %}
  <h1>
    Tags
    <a href="{% url 'todo_list:tag-create' %}" class="add-task-btn" style="float: right;">Add</a>
  </h1>

  <table class="table-full">
    <thead>
      <tr class="table-header-row">
        <th class="text-left cell-padding">Name</th>
        <th class="text-center cell-padding">Update</th>
        <th class="text-center cell-padding">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for tag in tag_list %}
      <tr class="table-row">
        <td class="cell-padding">{{ tag.name }}</td>
        <td class="cell-padding text-center">
          <a href="{% url 'todo_list:tag-update' tag.id %}">Update</a>
        </td>
        <td class="cell-padding text-center">
          <a href="{% url 'todo_list:tag-delete' tag.id %}">Delete</a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="3" class="cell-padding" style="text-align: center;">No tags found.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
